@charset "UTF-8";
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 300 18px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  font-kerning: normal; }

article {
  text-align: justify; }
  @media screen and (max-width: 600px) {
    article {
      text-align: left; } }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre, ul, ol, dl, figure {
  margin-bottom: 15px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  font-weight: 400; }

h4 {
  clear: left;
  float: left;
  color: inherit;
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  margin-right: 0.3rem; }
  h4::after {
    content: ':';
    margin-right: 0.3rem;
    margin-left: 0.1rem; }

code {
  font-weight: 100; }

p {
  page-break-before: avoid;
  break-before: avoid; }

ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

a {
  color: inherit;
  text-decoration: none;
  font-weight: bolder; }
  a:visited {
    color: inherit; }
  a:hover {
    color: #2a7ae2;
    text-decoration: underline; }

@media screen {
  .noscreen {
    display: none; } }
article a {
  font-style: italic; }

header a {
  text-decoration: none; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Wrapper
 */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 100000px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px * 2));
      max-width: calc(800px - (30px * 2)); } }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

table.list {
  border-collapse: collapse;
  box-sizing: border-box;
  margin-bottom: 2em;
  width: 100%;
  border: 1px solid #424242; }
  table.list thead {
    background-color: #424242;
    color: #fff; }
  table.list tbody > tr:nth-child(odd) {
    background-color: #e8e8e8; }
  table.list th, table.list td {
    padding: .3rem 0.5rem;
    white-space: nowrap; }

strong, .nowrap {
  white-space: nowrap; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.site-title {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 3.2rem;
  vertical-align: middle;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 3.2rem; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.page-content {
  padding: 30px 0; }

@media print {
  @page {
    size: A4;
    size: 210mm 297mm;
    margin: 1cm 0.5cm;
    @bottom-center {
      content: "© 2017 Kim Ravn Hansen";
      font: 400 6pt "Helvetica Neue", Helvetica, Arial, sans-serif; } }
  @page :right {
    @bottom-right-corner {
      content: counter(page);
      font: 400 6pt "Helvetica Neue", Helvetica, Arial, sans-serif; } }
  @page :left {
    @bottom-left-corner {
      /* content: "Page " counter(page) " of " counter(pages); */
      content: counter(page);
      font: 400 6pt "Helvetica Neue", Helvetica, Arial, sans-serif; } }
  body {
    font: 400 9pt/1.25 "Times"; }

  blockquote {
    font-size: 9pt; }

  p {
    break-before: avoid;
    orphans: 2;
    widows: 2; }

  p:last-of-type {
    margin-bottom: 2rem; }

  article {
    columns: 2 auto;
    column-fill: auto;
    text-align: justify; }

  .nobreak {
    page-break-inside: avoid;
    break-inside: avoid; }

  table.list {
    column-span: all;
    break-inside: avoid; }
    table.list tbody {
      break-inside: avoid; }

  table.list.column {
    column-span: none; }

  header h1 {
    font-size: 2rem;
    column-span: all;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 0.05pt solid #828282;
    string-set: doctitle content(); }

  h1, h2, h3, h4, h5, h6 {
    break-after: avoid-column; }

  h1 {
    font-size: 1.8em; }

  h2 {
    font-size: 1.6em; }

  h3 {
    font-size: 1.4em; }

  h1, h2, h3 {
    text-transform: uppercase;
    text-align: left;
    page-break-after: avoid;
    break-after: avoid;
    margin-top: 0;
    margin-bottom: 0.1rem;
    padding: 0; }

  .site-header, .site-footer {
    display: none; }

  .noprint {
    display: none; } }
