---
layout: default
---

<h1>KAOS</h1>

<p>
KAOS is a system of lightweight roleplaying game <em>guidelines</em>.
It is meant for experienced and creative gamers, who
can infer all the stuff not written here, and
who have the confidence to use a system that
does not have rules for every concievable scenario.
</p>

Round fractions down,
modify the rules to yor needs,
use common sense,
and <em>Have Fun!</em>.
<div>
{% assign menu_pages = (site.pages | kaos_order) %}
{% for page in menu_pages %}
    {% if page.title and page.menu %}
        <div>
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </div>
    {% endif %}
{% endfor %}
</div>
