@media print {
    p {
        page-break-before: avoid;
        orphans: 3;
    }
    @page: {
        margin: .5cm 1cm;
    }
    h1,h2,h3,h4,h5,h6 {
        page-break-after: avoid;
    }

    header, footer {
        display: none;
    }
}
