@media print {
    @page {
        size: A4;
        size: 210mm 297mm;
        margin: 1cm 0.5cm;

        @bottom-center {
            content: "© 2017 Kim Ravn Hansen";
            font: $print-font-weight 6pt $base-font-family;
        }

    }

    @page :right {
        @bottom-right-corner {
            content: counter(page);
            font: $print-font-weight 6pt $base-font-family;
        }
    }

    @page :left {
        @bottom-left-corner {
            /* content: "Page " counter(page) " of " counter(pages); */
            content: counter(page);
            font: $print-font-weight 6pt $base-font-family;
        }
    }

    body {
        font: $print-font-weight #{$print-font-size}/#{$print-line-height} $print-font-family;
    }
    blockquote {
        font-size: $print-font-size;
    }
    p {
        break-before: avoid;
        page-break-before: avoid;
        orphans: 2;
        widows: 2;
    }

    p:last-of-type {
        margin-bottom: 2rem;
    }

    article {
        column-count: 2;
        column-fill: auto;
        -webkit-column-fill: auto;
        text-align: justify;
    }

    .nobreak {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    table.list {
        column-span: all;

        tbody {
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }

    table.list.column {
        column-span: none;
    }

    header h1 {
        font-size: 2rem;
        column-span: all;
        text-align: center;
        margin-bottom: 1rem;
        border-bottom: .05pt solid $grey-color;
        string-set: doctitle content();
    }

    h1,h2,h3,h4,h5,h6 {
        break-after: avoid;
        page-break-after: avoid;
    }

    h1 { font-size: 1.8em; }
    h2 { font-size: 1.6em; }
    h3 { font-size: 1.4em; }

    h1,h2,h3 {
        text-transform: uppercase;
        text-align:left;
        page-break-after: avoid;
        break-after: avoid;
        margin-top: 0;
        margin-bottom: 0.1rem;
        padding: 0;
    }

    .site-header, .site-footer {
        display: none;
    }

    .noprint {
        display:none;
    }
}
