@media print {
    @page {
        size: "A4";
        margin: 1cm 0.5cm;
    }
    body {
        font: $print-font-weight #{$print-font-size}/#{$print-line-height} $print-font-family;
    }
    blockquote {
        font-size: $print-font-size;
    }
    p {
        break-before: avoid;
        page-break-before: avoid;
    }

    article {
        column-count: 2;
        column-fill: auto;
        -webkit-column-fill: auto;
        text-align: justify;
        orphans: 2;
        widows: 2;
    }

    .nobreak {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    table.list {
        column-span: all;

        tbody {
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }

    table.list.column {
        column-span: none;
    }

    header h1 {
        column-span: all;
        text-align: center;
        margin-bottom: 1rem;
        border-bottom: .05pt solid $grey-color;
    }

    h1,h2,h3 {
        text-transform: uppercase;
        text-align:left;
    }

    h1,h2,h3,h4,h5,h6 {
        page-break-after: avoid;
        break-after: avoid;
    }
    h4 {
        font-size: $print-font-size;
        page-break-before: avoid;
        break-before: avoid;
    }

    .site-header, .site-footer {
        display: none;
    }

    .noprint {
        display:none;
    }
}
