---
layout: page
title: "Equipment"
top_menu: true
rank: -4
---

The prices below are guideline prices on how much it would cost to purchase an item or service
from an average merchant in an average town during an average non-eventful time period.

<h2>Weapons</h2>

<strong>H</strong>: The number of hands needed to wield this weapon.
<br>
<strong>Range: <em>x</em></strong> This is a missile weapon that has a range of <em>x</em> squares.
<br>
<strong>Range: M</strong> This is a melee weapon that can hit opponents in adjacent squares.
<br>
<strong>Range: M/<em>x</em></strong> This weapon can be used for melee and ranged combat. It has a range of <em>x</em> squares.
<br>
<strong>Range: Reach</strong> This is a melee weapon that can reach opponents two squares away.
<br>
{% for weapon in site.data.weapons %}
    {% if weapon.remark %}
        <br>
        <a href="#{{ weapon.name | slugify }}"><strong>{{ weapon.name }}</strong></a>: {{ weapon.remark }}
    {% endif %}
{% endfor %}
<br>
<br>

<table class="list">
    <thead>
    <tr>
        <th class="left">Weapon</th>
        <th class="center">H</th>
        <th class="center">Cost</th>
        <th class="center">Damage</th>
        <th class="center">Range</th>
    </tr>
    </thead>
    <tbody>
    {% for weapon in site.data.weapons %}
        <tr id="{{ weapon.name | slugify }}">
        <td class="left">{{ weapon.name }}</td>
        <td class="center">{{ weapon.hands }}</td>
        <td class="center">{{ weapon.cost }}</td>
        <td class="center">{{ weapon.damage }}</td>
        <td class="center">{{ weapon.range }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Armors</h2>

<strong>DP</strong>:
The number of Defense Points you have if wearing this armor.
Defense Points are used to deflect an opponent's attacks.
Shields increase the number of DPs.
<br>

<strong>MR</strong>:
This is how the armor affects your movement rate.

<br>
<strong>Athletics</strong>:
Armors may require you to have a certain score in Athletics - otherwise
your movement rate is reduced by 2 (in addition to any penalties the armor may already have).
and your Movement Rate will be halved. Shields increase the overall Athletics requirement.
<br>
<strong>Strain</strong>:
Is the number of additional points of strain damage you take every time you take a Surge Action.
<br>

<h6>Example 1</h6>
<blockquote>
    A person wearing Hardened Leather and a Light Shield and an
    AGI of 23 will have a Defense Score of 23÷10+2+1&nbsp;=&nbsp;5,
    and an Athletics requirement of 20+10 = 30.
    Such a character would take 1d4&nbsp;+&nbsp;1 points of strain damage
    for every surge action taken.
</blockquote>

<h6>Example 2</h6>
<blockquote>
    A person wearing Chain Mail and a Tower Shield will have
    a Defense Score of 4+3 = 7, a Movement Rate penalty of 1+2&nbsp;=&nbsp;3, and
    an Athletics requirement of 35+20 = 55.
    Such a character would take 1d4&nbsp;+&nbsp;2 points of strain damage
    for every surge action taken.
</blockquote>

<table class="list">
    <thead>
    <tr>
        <th class="left">Armor</th>
        <th class="center">Cost</th>
        <th class="center">DP</th>
        <th class="center">MR</th>
        <th class="center">Atheltics</th>
        <th class="center">Strain</th>
    </tr>
    </thead>
    <tbody>
    {% for armor in site.data.armors %}
        <tr id="{{ armor.name | slugify }}">
            <td class="left">{{ armor.name }}</td>
            <td class="center">{{ armor.cost }}</td>
            <td class="center">{{ armor.dp }}</td>
            <td class="center">{{ armor.mr }}</td>
            <td class="center">{{ armor.athletics }}</td>
            <td class="center">{{ armor.strain }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="list">
    <thead>
    <tr>
        <th class="left">Shield</th>
        <th class="center">Cost</th>
        <th class="center">DP</th>
        <th class="center">MR</th>
        <th class="center">Atheltics</th>
        <th class="center">Strain</th>
    </tr>
    </thead>
    <tbody>
    {% for shield in site.data.shields %}
        <tr id="{{ shield.name | slugify }}">
        <td class="left">{{ shield.name }}</td>
        <td class="center">{{ shield.cost }}</td>
        <td class="center">{{ shield.dp }}</td>
        <td class="center">{{ shield.mr }}</td>
        <td class="center">{{ shield.athletics }}</td>
        <td class="center">{{ shield.strain }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Various</h2>

<table class="list column">
    <thead>
        <tr>
            <th class="left">Item</th>
            <th class="center">Cost</th>
        </tr>
    </thead>
    <tbody>
        {% assign items = (site.data.goods | kaos_order) %}
        {% for item in items %}
        <tr id="{{ item.name | slugify }}">
            <td class="left">{{ item.name }}</td>
            <td class="center">{{ item.cost }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Lifestyles</h2>
The costs of living outlined below is an indication how how much it would
cost per day to live that given life. It includes everything such as housing,
clothes, food and any type of luxury that might be associated with the
lifestyle such as servants, transportation (sedans, carts, horses, etc.).

<table class="list column">
    <thead>
        <tr>
            <th class="left">Lifestyle</th>
            <th class="center">Cost/day</th>
        </tr>
    </thead>
    <tbody>
        {% assign lifestyles = (site.data.lifestyles | kaos_order) %}
        {% for lifestyle in lifestyles %}
        <tr id="{{ lifestyle.name | slugify }}">
            <td class="left">{{ lifestyle.name }}</td>
            <td class="center">{{ lifestyle.cost }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
