---
layout: page
title: Powers
top_menu: true
rank: -5
categories: [rules, powers]
---

<p>
    List of all powers ordered by power-skill and tier.
    Click
    <a href="{{ "/rulebook/powers-alpha" | prepend: site.baseurl }}">here</a> for a list of powers in alphabetical order.
</p>

{% for tier in site.data.powertiers %}
    <h2 id="{{ tier.skill }}{{ tier.tier }}" >{{ tier.skill }} - Tier {{ tier.tier }}</h2>
    <p>
        These powers require a {{ tier.skill }} Skill Score of {{ tier.score }} and drain {{ tier.drain }} HP per use.
    </p>
    {% for power in tier.powers %}
        <h3 class="power__name">
            {{ power.name }}
        </h3>

        <div class="nobreak">
            {% for tag in power.tags %}
                {% assign words = tag | split: ":" %}
                {%- if words.size > 1 -%}
                    <strong>{{ words.first | capitalize }}</strong>:
                    {{ words.last }}
                {%- else -%}
                    <strong>{{ tag | capitalize}}</strong>
                {%- endif -%}
                {%- if forloop.last == false -%}
                    ,
                {%- endif -%}
            {% endfor %}

            <span class="power_description">{{ power.description | markdownify }}</span>
            {% if power.example %}
                <blockquote>
                    {{ power.example | markdownify  }}
                </blockquote>
            {% endif %}
        </div>
    {% endfor %}
{% endfor %}
