---
title: Powers (Alphabetical order)
layout: page
rank: -6
categories: [rules, powers]
---

<p>
    List of all powers in alphabetical order.
    Click
    <a href="{{ "/rulebook/powers" | prepend: site.baseurl }}">here</a> for a list of powers ordered by power-skill and tier.
</p>

{% for power in site.data.powers %}
    <div>
        <h3 class="power__name">{{ power.name }}</h3>

        {% for tag in power.tags %}
            {% assign words = tag | split: ":" %}
            {%- if words.size > 1 -%}
                <strong>{{ words.first | capitalize }}</strong>:
                {{ words.last }}
            {%- else -%}
                <strong>{{ tag | capitalize}}</strong>
            {%- endif -%}
            {%- if forloop.last == false -%}
                ,
            {%- endif -%}
        {% endfor %}

        <p class="nobreak">
            <em>{{ power.tiers | join: ', ' }}</em>
        </p>

        <p class="power_description">{{ power.description | markdownify }}</p>

        {% if power.example %}
            <blockquote>
                {{ power.example | markdownify }}
            </blockquote>
        {% endif %}
    </div>
    <br>
{% endfor %}
