---
layout: page
title: "Spells"
top_menu: true
rank: -5
categories: [rules, spells]
---

<div>
{% for tier in site.data.spelltiers %}
    <h2 id="{{ tier.skill }}{{ tier.tier }}" >Tier {{ tier.tier }} {{ tier.skill }} Spells</h2>
    <div>
        These spells require a {{ tier.skill }} Skill Score of {{ tier.score }} and drain {{ tier.drain }} HP per casting.
    </div>
    <br>
    {% for spell in tier.spells %}
        <div>
            <strong class="spell__name">
                {{ spell.name }}
            </strong>
            {% for tag in spell.tags %}
                • <em class="spell_tag">{{ tag | capitalize }}</em>
            {% endfor %}
            <span class="spell_description">{{ spell.description | markdownify }}</span>
            {% if spell.example %}
                <blockquote>
                    {{ spell.example }}
                </blockquote>
            {% endif %}
        </div>
    {% endfor %}
    <br>
    <br>
{% endfor %}
</div>
