---
layout: page
title: "Spells"
top_menu: true
rank: -5
categories: [rules, spells]
---

<div>

    {% for tag in site.data.spelltags %}
        <h2 id="{{ tag.skill }}{{ tag.tier }}" >Tier {{ tag.tier }} {{ tag.skill }} Spells</h2>
        <div>
            These spells require a {{ tag.skill }} Skill Score of {{ tag.score }} and drain {{ tag.drain }} HP per casting.
        </div>
        <br>
        {% for spell in tag.spells %}
            <div>
                {% if spell.ritual %}
                    <strong class="spell__name">
                        {{ spell.name }}
                        •
                        [ritual: {{spell.ritual}}]:
                    </strong>
                {% else %}
                    <strong class="spell__name">
                        {{ spell.name }}:
                    </strong>
                {% endif %}
                <span class="spell_description">{{ spell.description }}</span>
                {% if spell.example %}
                    <blockquote>
                        {{ spell.example }}
                    </blockquote>
                {% endif %}
            </div>
        {% endfor %}
        <br>
        <br>
    {% endfor %}
</div>
