---
title: Spells (Alphabetically sorted)
layout: page
rank: -6
categories: [rules, spells]
---

{% for spell in site.data.spells %}
    <div>
        <strong class="spell__name">
            {{ spell.name }}
        </strong>
        (<em>{{ spell.tags | join: ' or ' }}</em>)
        <br>
        <span class="spell_description">{{ spell.description }}</span>
        {% if spell.example %}
        <blockquote>
            {{ spell.example }}
        </blockquote>
        {% endif %}
    </div>
    <br>
{% endfor %}
